.pregunta {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #090c0f;
  max-width: 500px;
  width: 100%;
  background-color: #222d35;
}

.pregunta h4 {
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  font-weight: 600;
}

.pregunta img {
  max-width: 350px;
  max-height: 310px;
  margin-bottom: 20px;
  margin-left: 5.25rem;
  margin-right: 1.25rem;
  padding: 0;
}

.respuestas {
  display: flex;
  margin: 0;
  padding: 0;
}

.respuestas button {
  padding: 0.75rem;
  color: #fafafa;
  border: 1px solid #090c0f;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.respuestas:last-of-type {
  margin-bottom: 5%;
}

.respuestas button:hover {
  cursor: pointer;
}

.flechas-juego {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 10px;
}

.flechas-juego button {
  padding: 8px;
  background-color: #35424b;
  color: #fafafa;
  border: 2px solid #110d0d;
  margin-top: 18px;
}

.flechas-juego h4 {
  margin-bottom: 0;
  margin-top: 28px;
}

.botones-al-final {
  display: flex;
  flex-direction: row;
  max-width: 500px;
  width: 100%;
  justify-content: space-around;
}

.botones-al-final button {
  padding: 8px;
  background-color: #35424b;
  color: #fafafa;
  border: 2px solid #110d0d;
  margin-top: 18px;
  margin-bottom: 18px;
}

.timer-bar {
  max-width: 500px;
  width: 100%;
  height: 25px;
  background-color: #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.timer-fill {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 1s linear, background-color 0.3s ease;
}

@media (max-width: 960px) {

  .pregunta {
    display: flex;
    flex-direction: column;
    border: 1.5px solid #090c0f;
    max-width: 350px;
    width: 100%;
    background-color: #222d35;
  }

  .pregunta h4 {
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    font-weight: 600;
  }

  .pregunta img {
    max-width: 350px;
    max-height: 310px;
    margin-bottom: 20px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding: 0;
  }

  .botones-al-final {
    display: flex;
    flex-direction: row;
    max-width: 500px;
    width: 100%;
    justify-content: space-around;
  }

  .botones-al-final button {
    padding: 8px;
    background-color: #35424b;
    color: #fafafa;
    border: 2px solid #110d0d;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .timer-bar {
    max-width: 350px;
    width: 100%;
    height: 25px;
    background-color: #ddd;
    border-radius: 8px;
    overflow: hidden;
  }

  .timer-fill {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 1s linear, background-color 0.3s ease;
  }

}