footer {
  background-color: #181e22;
}

.fondo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.fondo ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
}

.fondo li {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
}



@media (max-width: 960px) {
  .fondo li {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;

  }

  .fondo ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
    padding: 0;
  }
}