.principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 15px auto 0px auto;
}

header img {
  color: white;
  max-width: 100px;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  color: #FAFAFA;
  background-color: #1b252c;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 960px) {
  header {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 30px auto 0px auto;
  }

  header img {

    max-width: 70px;
  }
}